:root {
  --white-50: #f6f6f6;
  --white-100: #e7e7e7;
  --white-200: #d1d1d1;
  --white-300: #b0b0b0;
  --white-400: #888;
  --white-500: #6d6d6d;
  --white-600: #5d5d5d;
  --white-700: #4f4f4f;
  --white-800: #454545;
  --white-900: #3d3d3d;
  --white-950: #292929;
  --red-primary: #a94a4a;
  --box-shadow-primary: 0px 8px 45px rgba(34, 34, 34, 0.1);
}

.supertitle {
  font-size: 7.875rem;
  font-family: "Abril Fatface", serif;
}

sup,
.title,
.subtitle,
.text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.title {
  font-size: 48px;
}

.subtitle {
  width: max-content;
  margin: 16px 0;
  background: var(--red-primary);
  color: var(--white-50);
  padding: 8px 24px;
  border-radius: 24px;
}

.text {
  font-weight: 500;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2.5rem;
  opacity: 0.75;
}

.title {
  font-weight: 700;
}

sup,
.subtitle {
  font-weight: 600;
}

.list {
  opacity: 0.75;
}

.list.active {
  opacity: 1;
}

.icon {
  width: 32px;
  height: 32px;
}

svg {
  width: inherit;
  height: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: initial;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  background: var(--white-50);
  color: var(--white-950);
}
