@import url("./master.css");

.container {
  position: relative;
  width: 100%;
}

/*
  Header
*/

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: 0.5s;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  /* Untuk ke Tengah */
  left: 50%;
  transform: translateX(-50%);
  /* End: Untuk ke Tengah */
  width: calc(100% - 160px); /* 160px berasal dari 80px (kanan) + 80px (kiri) */
  height: 2px;
  background-color: var(--white-950);
  border-radius: 2px;
}

.header.scroller {
  background: #fff;
  box-shadow: var(--box-shadow-primary);
}

.logo {
  width: 32px;
  height: 32px;
  background: var(--red-primary);
  border-radius: 100%;
}

.logo .icon {
  color: var(--white-50);
}

.nav {
  display: flex;
  gap: 64px;
}

.btn-testnow {
  display: inline-block;
  padding: 16px 42px;
  background: #f2ff43;
  border-radius: 100px;
}

section {
  position: relative;
  width: 100%;
  padding: 0 80px;
}

/*
  Section: Home
*/

.home {
  min-height: 100vh;
  text-align: center;
}

.supertitle {
  position: relative;
  margin: 24px 0;
}

.supertitle sup {
  position: absolute;
  top: -16px;
  font-size: 1.75rem;
  padding: 8px 24px;
  background: var(--red-primary);
  color: var(--white-50);
  border-radius: 2rem;
}

.slider-cars {
  margin: 24px 0;
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white-950);
  border-radius: 500px;
  overflow: hidden;
}

.home .list {
  width: 100%;
  height: 100%;
  text-align: center;
}

.image-car {
  height: 100%;
}

/*
  Section: Details
*/

.details {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 48px;
  align-items: center;
}

.details .content {
  width: 100%;
}

.detailsBx {
  position: relative;
  width: 324px;
  height: 500px;
  border-radius: 324px;
  overflow: hidden;
}

.interior-car {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content .title {
  line-height: 5rem;
}

.feature-details {
  margin: 32px 0;
  display: flex;
  gap: 64px;
}

.feature-details .list .text {
  margin: 32px 0;
}

:is(.feature-details, .engine) .list {
  opacity: 1;
}

.feature-details .list .icon {
  width: 64px;
  height: 64px;
  color: var(--red-primary);
}

/*
  Section: Specs
*/

.specsBx {
  display: flex;
  gap: 48px;
  align-items: center;
}

.imgBx {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 550px;
  overflow: hidden;
}

.engine-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.specsBx .desc .text {
  margin: 24px 0;
}

.engine {
  display: flex;
  justify-content: space-between;
  margin: 64px 0;
}

.engine .title {
  margin: 8px 0;
  color: var(--red-primary);
}
