@import url("./master.css");

.container {
  position: relative;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: 0.5s;
}

.header.scroller {
  background: #fff;
  box-shadow: var(--box-shadow-primary);
}

.logo {
  width: 32px;
  height: 32px;
  background: var(--red-primary);
  border-radius: 100%;
}

.logo .icon {
  width: 32px;
  height: 32px;
  color: var(--white-50);
}

.nav {
  display: flex;
  gap: 64px;
}

.header :is(.btn-testnow) {
  display: inline-block;
  padding: 16px 42px;
  background: #f2ff43;
  border-radius: 100px;
}
