@import url("./master.css");

.container {
  position: relative;
  width: 100%;
}

/*
  Header
*/

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: 0.5s;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  /* Untuk ke Tengah */
  left: 50%;
  transform: translateX(-50%);
  /* End: Untuk ke Tengah */
  width: calc(100% - 160px); /* 160px berasal dari 80px (kanan) + 80px (kiri) */
  height: 2px;
  background-color: var(--white-950);
  border-radius: 2px;
}

.header.scroller {
  background: #fff;
  box-shadow: var(--box-shadow-primary);
}

.logo {
  width: 32px;
  height: 32px;
  background: var(--red-primary);
  border-radius: 100%;
}

.logo .icon {
  width: 32px;
  height: 32px;
  color: var(--white-50);
}

.nav {
  display: flex;
  gap: 64px;
}

.btn-testnow {
  display: inline-block;
  padding: 16px 42px;
  background: #f2ff43;
  border-radius: 100px;
}

section {
  position: relative;
  width: 100%;
  padding: 0 80px;
}

/*
  Section: Home
*/

.home {
  min-height: 100vh;
  text-align: center;
}

.slider-cars {
  margin: 24px 0;
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white-950);
  border-radius: 500px;
  overflow: hidden;
}

.list {
  width: 100%;
  height: 100%;
  text-align: center;
}

.image-car {
  height: 100%;
}
